<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wireit</title>

    <script type="importmap">
      {
        "imports": {
          "@viz-js/viz": "/@viz-js/viz/lib/viz-standalone.mjs",
          "mermaid": "/mermaid/dist/mermaid.esm.min.mjs",
          "@shoelace-style/shoelace/": "/@shoelace-style/shoelace/cdn/",
          "lit-html": "/lit-html/lit-html.js",
          "lit-html/": "/lit-html/"
        }
      }
    </script>

    <link
      rel="stylesheet"
      href="/@shoelace-style/shoelace/dist/themes/light.css"
    />
  </head>

  <body>
    <style>
      :not(:defined) {
        visibility: hidden;
      }

      sl-dropdown {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      sl-dropdown sl-icon {
        font-size: 1.5rem;
      }

      #mynetwork {
        width: 100%;
        height: 100%;
        display: block;
      }

      #mynetworkconfig {
        display: none;
      }

      .drawer-container {
        display: flex;
      }

      .drawer-container > * {
        flex: 1;
      }
    </style>

    <sl-dropdown>
      <sl-button slot="trigger">
        <sl-icon slot="prefix" name="gear"></sl-icon>
      </sl-button>

      <sl-menu>
        <sl-menu-item value="graphviz">Graphviz</sl-menu-item>
        <sl-menu-item value="mermaid">Mermaid</sl-menu-item>

        <sl-divider></sl-divider>

        <sl-menu-item value="copy">Copy</sl-menu-item>
      </sl-menu>
    </sl-dropdown>

    <main>
      <div id="mynetwork"></div>

      <div id="mynetworkconfig" aria-hidden="true"></div>

      {% block main %} {% endblock %}
    </main>


    <sl-drawer style="--size: 50vw;"></sl-drawer>

    <script type="module" data-shoelace="/@shoelace-style/shoelace/cdn/">
      import "@shoelace-style/shoelace/shoelace-autoloader.js";
    </script>

    <script type="module" src="/app.js"></script>
  </body>
</html>
