{% extends "base.njk" %} 
]
{% block main %}
<style>
  .node text {
    font-family: sans-serif;
    font-size: 0.75rem;
  }

  .node polygon {
    fill: #ececff;
    stroke: #9370db;
    stroke-width: 1px;
  }
</style>

<script type="module" src="/graphviz.js"></script>
{% endblock %}
