<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script type="importmap">
      {
        "imports": {
          "mermaid": "/mermaid/dist/mermaid.esm.min.mjs"
        }
      }
    </script>
  </head>

  <body>
    <pre class="mermaid">
      {{graph}}
    </pre>

    <script type="module">
      import mermaid from "mermaid";

      mermaid.initialize({
        startOnLoad: true,
        flowchart: { useMaxWidth: true, htmlLabels: true },
        securityLevel: "loose",
      });

      document.addEventListener("click", (e) => {
        console.log(e.target);
      });
    </script>
  </body>
</html>
