<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wireit</title>
  </head>

  <body>
    <style>
      * {
        font-family: sans-serif;
        font-size: 0.85rem;
      }

      #mynetwork {
        width: 100%;
        height: 100%;
        display: block;
      }

      .node polygon {
        fill: #f3f3f3;
      }
    </style>

    <div id="mynetwork"></div>

    <script type="module">
      const lib = import(
        "https://cdn.jsdelivr.net/npm/@viz-js/viz@3.2.3/+esm"
      ).then((m) => m.instance());

      const data = fetch("/data" + window.location.search).then((res) =>
        res.json()
      );

      Promise.all([lib, data]).then(([viz, data]) => {
        const config = {
          graphAttributes: {
            rankdir: "LR",
            ordering: "in",
          },
          nodeAttributes: {
            shape: "box",
          },
          edgeAttributes: {
            arrowsize: 0.5,
          },
          nodes: data.nodes.map((node) => {
            return {
              name: node.id,
              attributes: {
                href: `?task=${node.id}`,
              },
            };
          }),
          edges: data.edges.map((edge) => {
            return {
              head: edge.to,
              tail: edge.from,
            };
          }),
        };

        const svg = viz.renderSVGElement(config);

        console.log(viz.renderString(config));

        document.getElementById("mynetwork").appendChild(svg);
      });
    </script>
  </body>
</html>
